.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
  }
  
  .submit-button {
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #003d82;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 15px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Style for the "Forgot Password" link */
.extra-links {
  margin-top: 10px;
  text-align: center;
}

.forgot-password-link {
  color: #0056b3;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password-link:hover {
  text-decoration: underline;
}