.reset-password-container {
    max-width: 500px; /* Restrict width to 500px */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .reset-password-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .reset-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-form input {
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%; /* Ensure the input stretches to 100% width */
  }
  
  .reset-password-form input:focus {
    border-color: #0056b3;
  }
  
  .reset-password-button {
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-button:hover {
    background-color: #003d82;
  }
  
  .reset-password-message {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .reset-password-success {
    color: green;
  }
  
  .reset-password-error {
    color: red;
  }
  